@{
    Layout = null;
    Response.Headers["X-UA-Compatible"] = "IE=10";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="" data-bind="" class="container body-content">
        <div id="cardsContainer" data-bind="foreach: cards">
            <div class="singleCard">
                <span class="cardName"><span data-bind="text:$data['Card Name']"></span></span>
                <span class="cardType">
                    <span data-bind="text:$data['Card Type']"></span>
                    <span class="subTypes">(<span data-bind="text:$data['Subtypes']"></span>)</span>
                </span>
                <span class="cacheCost"><strong>Cache Cost:</strong> <span data-bind="text:$data['Cache Cost']"></span></span>
                <span class="armor"><strong>Armor:</strong> <span data-bind="text:$data['Armor']"></span></span>
                <span class="attacks"><strong>Attacks:</strong> <span data-bind="text:$data['Attacks']"></span></span>
                <span class="cardText"><span data-bind="text:$data['Card Text']"></span></span>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Card/", {}, function(d) {
                var cardData = d;
                var viewModel = {};
                viewModel.cards = cardData;
                ko.applyBindings(viewModel);
            });
        });
    </script>
</body>
</html>
