.label { color: #000;}
/*238x332.5 alleged Magic card size*/
/*  
    (2.5 x 3.5)  
    width: 2.25in;
    height: 3.25in;
*/
.singleCard {
    border: solid 1px #000;
    width: 150px;
    height: 200px;
    float: left;
    margin: 0 5px 5px 0;
    padding: 5px;
    font-size: 0.9em;
    page-break-inside:avoid;
}

.cardName { font-weight: bold;display: block;text-align: center;margin: 5px 0;}
.cardType { font-style: italic;display: block;text-align: center;margin: 5px 0;}
.cacheCost { display: block;}
.armor { display: block;}
.attacks { display: block;}
.cardText { margin: 5px 0;display: block; font-size: 0.8em;}